services:

  frontend:
    container_name: orders_customers_frontend
    build:
      context: ./frontend-react
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      api:
        condition: service_started

  rabbitmq:
    image: rabbitmq:3-management
    container_name: orders_costumers_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10 
      
  api:
    container_name: OrdersCustomers
    build:
      context: .
      dockerfile: src/OrdersCustomers/Dockerfile
    ports:
      - "5000:8080"
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      RabbitMQ__Host: rabbitmq
      RabbitMQ__User: guest
      RabbitMQ__Pass: guest
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=OrdersCustomers;Username=admin;Password=admin"

      
  worker:
    container_name: OrdersCustomersWorker
    build:
      context: .
      dockerfile: src/OrdersCustomers.Worker/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      api:
        condition: service_started
    environment:
      RabbitMQ__Host: rabbitmq
      RabbitMQ__User: guest
      RabbitMQ__Pass: guest
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=OrdersCustomers;Username=admin;Password=admin"

  postgres:
    container_name: meu_postgres
    image: postgres:16
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: OrdersCustomers
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d OrdersCustomers"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: