name: CI Front

on:
  push:
    branches: [ main, development ]
    paths:
      - 'frontend-react/**'
      - '.github/workflows/ci-front.yml'
  pull_request:
    branches: [ main, development ]
    paths:
      - 'frontend-react/**'

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend-react/package-lock.json

      - name: Install dependencies
        working-directory: frontend-react
        run: npm ci

      - name: Lint
        working-directory: frontend-react
        run: npm run lint

      - name: Build
        working-directory: frontend-react
        run: npm run build
